### Recommender Systems dengan menggunakan Collaborative Filtering

Model yang akan saya gunakan adalah Collaborative Filtering dengan AlternatingLeastSquares packages. Dari jurnal penjelasan ALS, dikatakan bahwa ALS digunakan pada data yang bersifat implicit feedback serta bersifat memory-based. Implicit feedback secara tidak langsung adalah opini dari hasil observasi user behaviour, seperti purchase history, browsing history, etc. Referensi dari sebuah project di Kaggle, seseorang menggunakan data sejenis (purchase history) dengan saya dan mengartikan implicit untuk total pembelian produk dari setiap user. Artinya adalah user dikatakan menyukai atau tidak menyukai produk dapat dilihat dari total pembelian tersebut.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("clean.csv")
df = df.drop(columns = "Unnamed: 0")

In [3]:
df.head()

,Unnamed: 0.1,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Outliers
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,0
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,0
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,0
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,0
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,0

In [4]:
new = df[['StockCode', 'CustomerID', 'Quantity']].groupby(by = ['StockCode', 'CustomerID']).count().reset_index()
new = new.rename(columns = {'Quantity': 'Stock_count'})
new.sort_values(by = 'Stock_count', ascending = False).head()

      StockCode  CustomerID  Stock_count
16419     22632     17850.0           17
27128    85123A     17850.0           17
24316    84029E     17850.0           17
16477     22633     17850.0           17
6353      21730     17850.0           17

In [5]:
from sklearn.model_selection import train_test_split
import implicit
import scipy.sparse as sparse

In [6]:
new_stock_id = []
id = 1

for i in range(len(new['StockCode'].unique())):
    new_stock_id.append(id)
    id += 1

In [7]:
new_stock = pd.DataFrame()
new_stock['StockCode'] = new['StockCode'].unique()
new_stock['StockID'] = new_stock_id

In [8]:
new_stockid = pd.merge(new, new_stock, how = 'left', on = 'StockCode')
new_stockid

      StockCode  CustomerID  Stock_count  StockID
0         10002     12583.0            1        1
1         10002     12682.0            2        1
2         10002     12731.0            1        1
3         10002     12867.0            1        1
4         10002     12872.0            1        1
...         ...         ...          ...      ...
27938      POST     14646.0            1     2501
27939      POST     15107.0            1     2501
27940      POST     15602.0            1     2501
27941      POST     15694.0            1     2501
27942      POST     16861.0            1     2501

[27943 rows x 4 columns]

### Train Test 80:20

In [9]:
train, test = train_test_split(new_stockid, test_size = 0.2, random_state = 1)

In [10]:
train.shape

(22354, 4)

In [11]:
test.shape

(5589, 4)

In [12]:
user_items = sparse.csr_matrix((train['Stock_count'].astype(float), (train['CustomerID'].astype(int), train['StockID'].astype(int))))

In [13]:
item_users = sparse.csr_matrix((train['Stock_count'].astype(float), (train['StockID'], train['CustomerID'].astype(int))))

In [14]:
print(item_users)

  (1, 12682)	2.0
  (1, 12867)	1.0
  (1, 12872)	1.0
  (1, 13069)	1.0
  (1, 14258)	1.0
  (1, 14713)	2.0
  (1, 14911)	1.0
  (1, 15529)	1.0
  (1, 16098)	1.0
  (1, 16795)	1.0
  (1, 17677)	1.0
  (1, 17967)	1.0
  (2, 12748)	1.0
  (2, 15021)	1.0
  (2, 17198)	1.0
  (3, 17967)	1.0
  (4, 16710)	1.0
  (5, 16916)	1.0
  (6, 12735)	1.0
  (6, 13069)	1.0
  (6, 15750)	1.0
  (6, 16145)	1.0
  (6, 16722)	1.0
  (6, 16898)	1.0
  (6, 17511)	1.0
  :	:
  (2501, 12682)	3.0
  (2501, 12686)	1.0
  (2501, 12691)	1.0
  (2501, 12705)	1.0
  (2501, 12708)	1.0
  (2501, 12709)	1.0
  (2501, 12720)	3.0
  (2501, 12725)	1.0
  (2501, 12726)	1.0
  (2501, 12731)	1.0
  (2501, 12735)	1.0
  (2501, 12738)	1.0
  (2501, 12766)	1.0
  (2501, 12785)	1.0
  (2501, 12791)	1.0
  (2501, 12797)	1.0
  (2501, 12808)	1.0
  (2501, 12971)	1.0
  (2501, 13520)	1.0
  (2501, 13817)	1.0
  (2501, 14646)	1.0
  (2501, 15107)	1.0
  (2501, 15602)	1.0
  (2501, 15694)	1.0
  (2501, 16861)	1.0

In [15]:
import os
os.environ['MKL_NUM_THREADS'] = '1' 
os.environ['OPENBLAS_NUM_THREADS'] = '1'

Metode ALS mempelajari data berdasarkan matrix item-user dan menggunakan matrix user-item sebagai masukan sebagai preferensi apakah user akan menyukai atau tidak produk yang diberikan dan disertai dengan estimasi skor dari confidence level.

In [16]:
model = implicit.als.AlternatingLeastSquares(factors = 500, iterations = 30)
model.fit(item_users)

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

In [17]:
custID = 14911
rekomendasi = model.recommend(custID, user_items, N = 5, filter_already_liked_items = True)

#### Total Rekomendasi pada Dashboard sesuai User

In [18]:
rekomendasi

[(1310, 0.02404292),
 (2329, 0.022595033),
 (434, 0.022293271),
 (575, 0.021644741),
 (1080, 0.019152567)]

In [19]:
df_rec = pd.DataFrame(columns = ['CustomerID', 'Recommendation'])
df_rec

Empty DataFrame
Columns: [CustomerID, Recommendation]
Index: []

In [20]:
cust = []
rec = []

for i in range(len(rekomendasi)):
    cust.append(rekomendasi[i][0])
    rec.append(rekomendasi[i][1])
    
df_rec['CustomerID'], df_rec['Recommendation'] = cust, rec

df_rec

# print('Rekomendasi untuk ID {}:'.format(custID))
# for i in range(len(rekomendasi)):
#     print('{}. Stock ID {} dengan skor {}'.format(i+1, rekomendasi[i][0], rekomendasi[i][1]))

   CustomerID  Recommendation
0        1310        0.024043
1        2329        0.022595
2         434        0.022293
3         575        0.021645
4        1080        0.019153

### Evaluation Metric  

**Mean Average Recall at K dan Mean Average Precision at K**

Dari jurnal mengenai Implicit Feedback Datasets dikatakan bahwa metode evaluasi yang cocok diaplikasikan adalah Recall dibandingkan dengan Precision. Alasannya adalah karena tidak adanya variabel yang pantas untuk diukur, dalam kasus saya adalah total pembelian per produk. Semakin seseorang melakukan transaksi terhadap sebuah produk, maka diindakasi menyukai produk tersebut. Padahal dalam kenyataannya seseorang yang pernah membeli produk belum tentu menyukainya, bisa saja hanya untuk kado, barang titipan atau yang lainnya.<br>

Dari beberapa referensi yang saya lihat, recall@k dapat dihitung dengan total dari banyaknya rekomendasi benar dibagi dengan total aktual. Sedangkan precision@k merupakan total rekomendasi benar dibagi dengan total rekomendasi yang diberikan.

In [21]:
import ml_metrics
import ast
import recmetrics as rec

In [22]:
id = []
rec_list = []
for i in list(train['CustomerID'].astype(int).unique()):
    rekomendasi = model.recommend(i, user_items, N = 5, filter_already_liked_items = True)
    
    temp_list = []
    for j in rekomendasi:
        temp_list.append(j[0])
        
    id.append(i)
    rec_list.append(temp_list)
    
predicted_train = pd.DataFrame()
predicted_train['CustID'] = id
predicted_train['Predicted_train'] = rec_list

predicted_train['Predicted_train'] = predicted_train['Predicted_train'].apply(lambda x: ("""{}""".format(x))) 
predic_train = [ast.literal_eval(a) for a in list(predicted_train['Predicted_train'])]

predicted_train.head()

   CustID               Predicted_train
0   17284     [682, 499, 601, 1057, 65]
1   16385   [1637, 1634, 422, 532, 421]
2   12585    [658, 928, 1645, 779, 349]
3   14911  [1310, 2329, 434, 575, 1080]
4   14733  [1551, 402, 477, 1515, 2235]

In [23]:
train_id = []
train_stock = []

for i in train['CustomerID'].unique():
    train_id.append(i.astype(int))
    train_stock.append(list(train[train['CustomerID'] == i]['StockID'].unique()))
    
actual_train = pd.DataFrame()
actual_train['CustomerID'] = train_id
actual_train['Actual_train'] = train_stock
actual_train.head()

   CustomerID                                       Actual_train
0       17284  [1452, 1291, 1033, 420, 2196, 426, 1056, 1210,...
1       16385  [341, 565, 1636, 1585, 1655, 879, 2197, 343, 1...
2       12585  [367, 1497, 1288, 1337, 807, 1502, 2168, 341, ...
3       14911  [1876, 393, 1354, 1943, 1325, 1067, 1302, 2498...
4       14733  [676, 1059, 181, 1375, 2291, 944, 1939, 974, 1...

In [24]:
predic_train

[[682, 499, 601, 1057, 65],
 [1637, 1634, 422, 532, 421],
 [658, 928, 1645, 779, 349],
 [1310, 2329, 434, 575, 1080],
 [1551, 402, 477, 1515, 2235],
 [1753, 956, 1542, 1218, 1995],
 [2260, 57, 1248, 2121, 2236],
 [1398, 1247, 1333, 850, 851],
 [979, 1423, 934, 2031, 925],
 [340, 1308, 266, 941, 1216],
 [1272, 521, 698, 274, 1470],
 [130, 786, 791, 1116, 427],
 [2108, 599, 2058, 1594, 1686],
 [2251, 961, 1647, 1321, 1159],
 [2249, 1167, 2250, 736, 2367],
 [703, 883, 1550, 1988, 111],
 [1479, 791, 1124, 1986, 130],
 [181, 1542, 1644, 1387, 611],
 [181, 1523, 1105, 1300, 1431],
 [911, 1320, 1321, 1310, 1327],
 [129, 531, 837, 1223, 942],
 [1526, 1820, 1651, 1523, 705],
 [1485, 1321, 2170, 669, 1325],
 [1847, 1967, 1002, 1331, 1430],
 [886, 2289, 569, 1421, 1725],
 [2198, 382, 383, 2200, 2201],
 [2481, 351, 143, 2337, 759],
 [1877, 1242, 1307, 1106, 1300],
 [856, 1521, 140, 1497, 324],
 [1454, 1491, 1659, 960, 1935],
 [143, 35, 1837, 532, 251],
 [175, 521, 663, 1517, 1871],
 [600, 1242, 1351, 1768, 1904],
 [1242, 1665, 1533, 569, 2306],
 [954, 1913, 476, 1800, 426],
 [684, 1921, 1150, 744, 402],
 [269, 1336, 1352, 175, 663],
 [133, 1871, 1503, 786, 134],
 [1328, 462, 1091, 934, 259],
 [1725, 1343, 1705, 806, 318],
 [132, 25, 24, 369, 541],
 [2330, 1904, 1573, 1247, 748],
 [289, 205, 670, 1227, 2289],
 [306, 175, 2354, 344, 840],
 [545, 532, 2141, 1309, 357],
 [619, 1803, 485, 1462, 681],
 [275, 927, 2342, 568, 1697],
 [1839, 972, 824, 619, 741],
 [641, 1247, 640, 2393, 1351],
 [1532, 1197, 658, 1776, 1218],
 [1574, 1421, 2205, 1561, 1696],
 [1247, 1112, 1213, 2315, 1969],
 [950, 7, 1748, 237, 1110],
 [1065, 1415, 445, 1673, 1105],
 [269, 1837, 1308, 1376, 2351],
 [965, 9, 548, 418, 544],
 [1094, 646, 1725, 1650, 2158],
 [2197, 1636, 1637, 1795, 1401],
 [689, 1426, 572, 1106, 2087],
 [1893, 2047, 766, 1422, 1614],
 [793, 788, 1165, 1160, 1166],
 [285, 1687, 2249, 1568, 851],
 [1058, 564, 423, 1581, 1287],
 [445, 25, 1957, 1849, 601],
 [1491, 1189, 1951, 1566, 948],
 [1573, 1650, 1215, 1666, 2195],
 [2348, 175, 285, 1677, 1559],
 [1238, 1947, 130, 1099, 282],
 [1384, 2329, 1552, 1215, 2481],
 [2481, 1685, 351, 1522, 1521],
 [2183, 1154, 1840, 1904, 1951],
 [1831, 850, 1566, 2162, 851],
 [1834, 1658, 419, 1357, 1833],
 [1497, 1526, 953, 541, 1506],
 [1247, 223, 1913, 790, 1333],
 [1696, 1448, 1522, 1465, 1610],
 [749, 1248, 471, 753, 1478],
 [844, 831, 421, 422, 813],
 [129, 1136, 130, 1088, 1965],
 [1796, 1685, 1632, 824, 773],
 [371, 766, 1059, 1167, 1704],
 [1753, 580, 1831, 1511, 2386],
 [1893, 35, 1203, 1890, 2262],
 [1041, 937, 126, 1278, 1138],
 [2086, 1962, 1619, 1376, 1529],
 [544, 269, 1227, 1246, 2293],
 [1698, 389, 2207, 2085, 928],
 [2315, 445, 907, 1006, 1206],
 [2259, 261, 930, 1297, 1215],
 [1950, 175, 1073, 1470, 886],
 [1436, 1885, 851, 1087, 1011],
 [1222, 951, 2260, 861, 233],
 [1195, 1317, 1697, 1374, 583],
 [576, 1995, 1212, 2330, 575],
 [763, 1642, 1697, 2329, 1944],
 [1485, 2326, 1257, 1320, 1247],
 [1496, 1526, 1498, 200, 857],
 [426, 1366, 1063, 21, 2259],
 [110, 1333, 968, 2260, 667],
 [1550, 616, 1754, 663, 1949],
 [937, 340, 766, 2260, 899],
 [2249, 1091, 129, 1269, 1181],
 [1020, 641, 1387, 521, 2118],
 [1125, 736, 203, 1113, 900],
 [773, 1490, 719, 1272, 1706],
 [1498, 2198, 205, 663, 1835],
 [1427, 744, 1002, 1483, 1561],
 [1518, 342, 1567, 561, 2351],
 [612, 1697, 663, 1830, 1077],
 [856, 2386, 1444, 928, 85],
 [289, 1632, 230, 1134, 1111],
 [1662, 36, 869, 639, 519],
 [477, 544, 437, 2343, 1570],
 [1492, 445, 952, 1974, 354],
 [1989, 748, 663, 1850, 1582],
 [824, 535, 573, 578, 649],
 [638, 2348, 1121, 1230, 886],
 [1002, 1795, 1689, 1880, 1885],
 [1448, 728, 371, 807, 1424],
 [637, 1397, 1969, 1351, 1929],
 [1877, 1352, 1227, 1000, 737],
 [25, 1327, 986, 1849, 1066],
 [1648, 1191, 333, 226, 612],
 [485, 396, 1676, 2334, 802],
 [956, 911, 1050, 1125, 1989],
 [1916, 829, 1615, 1625, 1610],
 [817, 1969, 276, 1436, 1664],
 [1121, 1041, 2251, 361, 1023],
 [1491, 1632, 1011, 912, 1639],
 [1616, 1358, 1172, 867, 886],
 [1247, 395, 2464, 1465, 532],
 [2293, 1314, 1080, 286, 1149],
 [398, 1804, 1514, 965, 573],
 [778, 2023, 175, 285, 2337],
 [69, 1697, 1916, 2001, 1466],
 [1032, 2114, 2232, 1000, 35],
 [1472, 2137, 333, 685, 646],
 [1040, 1080, 1351, 111, 2137],
 [763, 1173, 1355, 741, 1948],
 [856, 600, 1, 371, 1527],
 [133, 2118, 1238, 2204, 2334],
 [2118, 1871, 229, 1159, 1102],
 [192, 1837, 494, 251, 636],
 [17, 117, 846, 2205, 1149],
 [202, 701, 1006, 1314, 1683],
 [619, 640, 641, 723, 757],
 [276, 1278, 632, 1822, 205],
 [402, 475, 799, 744, 1242],
 [1136, 130, 1132, 135, 787],
 [1754, 1263, 280, 130, 1795],
 [1611, 1559, 1527, 583, 348],
 [801, 413, 1625, 371, 627],
 [2455, 44, 381, 1203, 950],
 [1126, 1442, 143, 389, 1278],
 [1633, 1516, 195, 2498, 1321],
 [2329, 2113, 2111, 1641, 485],
 [1159, 131, 1833, 17, 2315],
 [385, 2189, 1696, 851, 86],
 [1, 857, 1847, 1509, 179],
 [965, 1493, 1511, 2263, 1854],
 [829, 2170, 270, 1803, 570],
 [953, 1486, 225, 1551, 542],
 [1682, 844, 1469, 1434, 1360],
 [903, 1689, 1475, 225, 1383],
 [289, 1421, 1182, 1189, 819],
 [396, 1145, 1303, 1664, 1564],
 [1540, 2354, 986, 960, 969],
 [1018, 1052, 192, 2101, 460],
 [615, 611, 306, 1498, 326],
 [1526, 2486, 2135, 1889, 2293],
 [1295, 1503, 1308, 580, 1278],
 [2236, 1, 1369, 111, 1847],
 [597, 1426, 221, 666, 1366],
 [2000, 1388, 289, 308, 1092],
 [86, 1243, 1573, 2487, 2488],
 [1904, 270, 1842, 1903, 1482],
 [490, 1893, 233, 2047, 2134],
 [1634, 1633, 1159, 744, 445],
 [1521, 1940, 205, 1857, 1691],
 [912, 1559, 507, 919, 1287],
 [1525, 1423, 318, 393, 1177],
 [677, 175, 580, 1573, 568],
 [1640, 225, 556, 412, 1205],
 [276, 1284, 378, 507, 1671],
 [2453, 1853, 2233, 1387, 697],
 [1768, 2194, 1177, 371, 1610],
 [867, 505, 1686, 1725, 1935],
 [1405, 1488, 917, 1403, 884],
 [2096, 1522, 1697, 1462, 1659],
 [66, 594, 641, 1182, 500],
 [423, 1622, 2239, 2238, 143],
 [773, 2011, 2251, 1132, 2321],
 [1725, 1213, 1997, 2244, 1685],
 [1919, 1505, 1374, 606, 856],
 [1289, 1427, 841, 637, 1181],
 [903, 226, 605, 865, 1006],
 [1077, 1242, 791, 401, 1698],
 [1307, 1238, 434, 1406, 614],
 [340, 1163, 763, 131, 1609],
 [582, 638, 444, 1725, 1072],
 [1117, 750, 2118, 524, 1238],
 [2158, 1132, 996, 1551, 1087],
 [531, 658, 829, 950, 541],
 [1981, 1834, 778, 1691, 615],
 [1854, 1493, 2263, 965, 1666],
 [1426, 1503, 2191, 941, 1199],
 [1851, 2321, 2481, 674, 2159],
 [1697, 685, 2360, 1644, 1120],
 [1465, 953, 623, 728, 2030],
 [2192, 2337, 2348, 202, 1995],
 [1066, 1456, 137, 755, 232],
 [1307, 1319, 1690, 1382, 1258],
 [1529, 1180, 2097, 1808, 1057],
 [1562, 1088, 1495, 1566, 137],
 [1229, 1293, 641, 2343, 1185],
 [186, 485, 2101, 1006, 942],
 [293, 2278, 114, 579, 2198],
 [2323, 1039, 2362, 742, 685],
 [1140, 849, 1236, 76, 1149],
 [1194, 1248, 1632, 582, 1491],
 [522, 855, 1080, 1639, 1390],
 [1504, 663, 175, 1613, 538],
 [1504, 1233, 991, 1725, 2368],
 [2329, 1696, 615, 667, 1871],
 [1649, 1652, 2253, 1737, 2218],
 [2386, 2260, 2201, 553, 1970],
 [1334, 1564, 965, 2259, 806],
 [1957, 1552, 2187, 1357, 1891],
 [26, 27, 1290, 1337, 636],
 [1630, 2198, 1625, 1080, 813],
 [2306, 1222, 1166, 2118, 1116],
 [469, 1642, 2329, 1776, 1090],
 [2293, 1504, 1273, 1895, 285],
 [813, 1387, 1623, 361, 1768],
 [1947, 1171, 1418, 402, 582],
 [382, 386, 2204, 1504, 876],
 [175, 1689, 1474, 1617, 1534],
 [1687, 2023, 1122, 1209, 784],
 [138, 1120, 383, 1951, 1702],
 [1462, 1696, 957, 1890, 1550],
 [1994, 207, 2184, 524, 909],
 [667, 2229, 1332, 641, 1065],
 [869, 1384, 1449, 1956, 867],
 [2260, 1895, 541, 1135, 1490],
 [129, 1697, 1524, 1390, 1423],
 [853, 272, 1039, 1247, 855],
 [1042, 699, 234, 357, 1621],
 [756, 608, 1300, 606, 1284],
 [306, 1619, 1000, 813, 1495],
 [1081, 1512, 1006, 1044, 56],
 [2337, 1138, 1205, 1962, 1688],
 [1648, 2189, 65, 659, 2328],
 [1120, 2367, 1837, 1505, 369],
 [920, 300, 1401, 1820, 299],
 [1820, 809, 389, 919, 791],
 [566, 1904, 1508, 1354, 940],
 [599, 1065, 234, 1649, 1294],
 [65, 682, 355, 1956, 1390],
 [197, 320, 114, 631, 525],
 [1645, 1974, 1060, 1829, 1011],
 [205, 2289, 1997, 2366, 525],
 [1325, 1311, 1306, 1336, 1083],
 [1100, 124, 2070, 2113, 2116],
 [1416, 937, 1418, 1464, 205],
 [1011, 1275, 1693, 1849, 2137],
 [1193, 637, 530, 1353, 1783],
 [638, 856, 737, 1834, 402],
 [1087, 1032, 1683, 1154, 1952],
 [577, 1871, 1225, 1820, 1921],
 [6, 1296, 1525, 508, 1133],
 [1551, 2270, 423, 1176, 711],
 [1648, 1472, 104, 1995, 1523],
 [1038, 1003, 650, 649, 1000],
 [421, 1244, 580, 422, 16],
 [2250, 874, 815, 872, 513],
 [869, 1540, 839, 1619, 324],
 [660, 656, 1169, 2023, 205],
 [986, 1207, 2170, 1223, 860],
 [1935, 2348, 769, 1662, 728],
 [854, 1756, 734, 1753, 1658],
 [685, 948, 1083, 397, 1664],
 [1501, 1147, 1909, 667, 1834],
 [499, 1172, 2086, 2091, 1361],
 [1583, 2002, 437, 1247, 1556],
 [205, 2289, 82, 226, 941],
 [1986, 1988, 750, 748, 1519],
 [1404, 740, 1405, 1440, 1242],
 [1000, 205, 1957, 1771, 2289],
 [1193, 1006, 920, 911, 1222],
 [469, 2294, 612, 570, 1689],
 [1504, 2331, 1278, 1058, 1515],
 [499, 1319, 1945, 207, 740],
 [380, 851, 1678, 637, 1106],
 [114, 76, 1691, 1995, 585],
 [854, 2498, 2484, 1524, 2486],
 [434, 1263, 1659, 2337, 1528],
 [1407, 1546, 1261, 1081, 1121],
 [2116, 1755, 583, 1840, 1512],
 [175, 955, 380, 1550, 1616],
 [627, 426, 1227, 1283, 521],
 [1020, 1539, 25, 1461, 1662],
 [746, 1077, 1891, 1899, 1046],
 [423, 1396, 1644, 14, 1697],
 [1842, 1123, 413, 1308, 2140],
 [251, 1622, 954, 1166, 666],
 [28, 617, 1553, 638, 609],
 [784, 1683, 312, 1677, 1311],
 [1077, 912, 858, 1217, 2233],
 [1693, 182, 769, 779, 667],
 [851, 361, 272, 289, 109],
 [1837, 1753, 2369, 2185, 1873],
 [1986, 1479, 1677, 1988, 1379],
 [736, 2233, 2179, 427, 233],
 [666, 1478, 2191, 943, 1326],
 [524, 1552, 1913, 1650, 2258],
 [613, 614, 884, 1492, 1010],
 [2315, 1278, 1247, 950, 2230],
 [998, 488, 486, 2074, 535],
 [1293, 911, 197, 1167, 522],
 [1032, 2386, 1218, 293, 133],
 [1083, 1006, 1904, 1326, 1317],
 [1074, 855, 656, 771, 1839],
 [1561, 135, 1167, 1891, 270],
 [1518, 227, 1970, 1909, 1491],
 [378, 701, 945, 1002, 1895],
 [2229, 1505, 1838, 1833, 744],
 [756, 1654, 1058, 773, 1630],
 [1203, 1205, 1199, 320, 424],
 [2093, 2137, 1000, 229, 1640],
 [1840, 1213, 1101, 308, 1356],
 [1340, 986, 974, 1584, 1659],
 [1317, 1804, 1167, 1994, 1507],
 [2124, 1298, 53, 773, 953],
 [1412, 1410, 485, 1678, 1632],
 [719, 1270, 530, 1386, 1619],
 [570, 2011, 1508, 764, 1248],
 [1390, 131, 526, 1131, 270],
 [699, 1839, 1436, 941, 1203],
 [111, 108, 1913, 386, 207],
 [916, 582, 2334, 649, 1564],
 [940, 602, 2250, 631, 1132],
 [583, 1122, 2205, 1654, 1362],
 [785, 784, 685, 671, 1039],
 [131, 1697, 222, 1504, 855],
 [1638, 1636, 1416, 756, 774],
 [751, 749, 1341, 750, 927],
 [1872, 560, 2257, 1189, 1138],
 [866, 512, 884, 1397, 663],
 [2189, 1159, 2260, 572, 658],
 [1691, 572, 1768, 1390, 1020],
 [2367, 1468, 1696, 1288, 1213],
 [658, 840, 1430, 2028, 571],
 [259, 790, 1842, 148, 789],
 [27, 1686, 80, 1972, 719],
 [1012, 135, 271, 1384, 1014],
 [1206, 499, 1847, 2259, 623],
 [477, 1644, 227, 1352, 1287],
 [434, 1172, 1324, 921, 251],
 [666, 1892, 2230, 1631, 2301],
 [1949, 1169, 522, 1683, 1416],
 [977, 1362, 1671, 1677, 579],
 [114, 1388, 1827, 272, 18],
 [1039, 901, 2322, 1308, 2364],
 [1421, 704, 1180, 1671, 2187],
 [1998, 2315, 907, 1809, 906],
 [764, 1543, 577, 1288, 1581],
 [2230, 1642, 857, 1488, 355],
 [261, 1147, 55, 1304, 1193],
 [646, 1532, 181, 2386, 1431],
 [1665, 910, 2079, 1169, 1511],
 [129, 1120, 785, 928, 1836],
 [793, 1804, 790, 1117, 131],
 [578, 1236, 1101, 1654, 917],
 [705, 494, 2368, 545, 2497],
 [1551, 1247, 627, 681, 1489],
 [2249, 343, 1560, 855, 10],
 [1361, 2192, 847, 1831, 508],
 [2337, 2067, 143, 1374, 1671],
 [1065, 1504, 2199, 2200, 2249],
 [1585, 1909, 2321, 1501, 1871],
 [1857, 1384, 1682, 957, 883],
 [1077, 1343, 97, 1847, 135],
 [1834, 300, 344, 960, 667],
 [1967, 905, 776, 1964, 2199],
 [1351, 1293, 582, 477, 1617],
 [270, 806, 148, 595, 1207],
 [1725, 681, 394, 1551, 1319],
 [1343, 625, 2118, 1331, 1475],
 [1594, 2140, 1669, 195, 1904],
 [223, 671, 1724, 1195, 2158],
 [1838, 1809, 529, 951, 1399],
 [25, 261, 1676, 722, 2043],
 [582, 858, 402, 1872, 911],
 [2321, 1340, 573, 112, 317],
 [1952, 1974, 817, 143, 188],
 [638, 1267, 1283, 1276, 504],
 [656, 2189, 423, 1, 1072],
 [1153, 1485, 1897, 1756, 756],
 [227, 335, 911, 1895, 1171],
 [85, 1194, 2158, 10, 2030],
 [627, 1267, 2335, 2333, 1284],
 [1526, 611, 1499, 616, 2124],
 [1880, 660, 1994, 1247, 993],
 [1528, 2187, 686, 1834, 1550],
 [572, 1431, 940, 952, 398],
 [21, 2260, 1958, 490, 2485],
 [1632, 1353, 927, 1643, 769],
 [1108, 1240, 1039, 1465, 1044],
 [1006, 1478, 104, 919, 840],
 [1287, 261, 1074, 508, 1300],
 [1491, 1490, 636, 1197, 1781],
 [703, 2259, 1207, 569, 317],
 [1962, 382, 1886, 1000, 1283],
 [18, 825, 1412, 1839, 1404],
 [1619, 485, 130, 1164, 1110],
 [752, 744, 1690, 1418, 458],
 [2140, 1916, 1842, 1903, 2369],
 [552, 969, 855, 1837, 1206],
 [1230, 231, 2249, 823, 1624],
 [590, 2062, 1071, 1804, 1523],
 [1042, 2023, 1474, 1153, 1658],
 [2162, 25, 582, 575, 1518],
 [1325, 1854, 960, 965, 869],
 [611, 1320, 1302, 226, 1041],
 [2199, 744, 56, 2286, 1334],
 [1676, 1447, 1012, 1551, 1516],
 [625, 571, 1829, 2187, 1199],
 [2124, 1524, 2329, 235, 1491],
 [269, 1559, 1336, 637, 333],
 [1971, 2360, 728, 1396, 1132],
 [1462, 1659, 1504, 1334, 1639],
 [667, 1455, 822, 1238, 423],
 [1957, 2067, 1009, 354, 1100],
 [1619, 2249, 437, 1074, 2028],
 [1569, 1688, 941, 1948, 1357],
 [1166, 137, 1648, 1678, 1644],
 [277, 2349, 86, 1652, 2097],
 [658, 1469, 1505, 811, 265],
 [1502, 1697, 1497, 2108, 1313],
 [1243, 1632, 1951, 1921, 2364],
 [10, 1839, 362, 1317, 1396],
 [307, 886, 1090, 1819, 1091],
 [1297, 1158, 784, 739, 1205],
 [1877, 1181, 1091, 445, 1851],
 [1633, 1637, 306, 28, 22],
 [2113, 1138, 911, 597, 1139],
 [76, 1710, 1491, 250, 2331],
 [1995, 689, 508, 780, 148],
 [1513, 610, 1416, 1323, 1309],
 [663, 1892, 637, 2301, 1390],
 [354, 2256, 2258, 1718, 2485],
 [1768, 1562, 1655, 2304, 2303],
 [952, 1470, 638, 1283, 1180],
 [1450, 1949, 1387, 979, 1397],
 [856, 1226, 2485, 1737, 1000],
 [1562, 1132, 1616, 1725, 1485],
 [1121, 283, 1837, 1838, 1834],
 [1629, 1501, 1659, 1436, 677],
 [1837, 1894, 1608, 2262, 1046],
 [1768, 650, 615, 856, 707],
 [1213, 1172, 1505, 1451, 1616],
 [1128, 471, 578, 1141, 1932],
 [748, 143, 1655, 1479, 1988],
 [226, 880, 853, 1261, 2015],
 [113, 1857, 1657, 1164, 1633],
 [1969, 385, 362, 510, 669],
 [1039, 1616, 791, 1424, 1321],
 [2118, 320, 2259, 344, 789],
 [1303, 844, 1474, 1063, 838],
 [2187, 561, 2043, 522, 600],
 [764, 650, 856, 1351, 1565],
 [2332, 2116, 572, 2058, 886],
 [293, 2249, 187, 2140, 741],
 [1464, 2321, 1044, 1496, 491],
 [1496, 225, 1495, 524, 876],
 [434, 974, 1081, 205, 1568],
 [704, 1050, 763, 16, 1297],
 [1162, 1524, 2187, 348, 1172],
 [385, 108, 819, 956, 1182],
 [969, 1921, 1835, 1504, 954],
 [1193, 419, 748, 237, 1999],
 [1795, 1311, 952, 1542, 1638],
 [614, 612, 1877, 615, 954],
 [1904, 1942, 2351, 2257, 1002],
 [945, 1098, 1328, 1006, 1330],
 [1106, 1213, 1222, 979, 976],
 [56, 627, 1195, 1063, 1008],
 [2330, 2058, 2108, 2067, 2068],
 [1058, 1999, 977, 1050, 564],
 [1523, 1528, 1650, 1629, 133],
 [131, 2198, 1156, 1358, 113],
 [1872, 1546, 1407, 1829, 1518],
 [134, 1616, 1614, 114, 2249],
 [282, 306, 1272, 1490, 1387],
 [2250, 637, 2254, 874, 1154],
 [1582, 306, 1502, 588, 802],
 [757, 1831, 2097, 9, 891],
 [384, 500, 229, 137, 130],
 [143, 8, 752, 1839, 991],
 [1317, 465, 1625, 497, 1440],
 [544, 1006, 2342, 2189, 1916],
 [1199, 402, 668, 1121, 2118],
 [705, 494, 2368, 545, 2497],
 [2289, 1270, 986, 57, 1909],
 [1135, 276, 1132, 1101, 141],
 [2233, 2337, 1418, 1614, 130],
 [523, 524, 1570, 974, 1672],
 [437, 1091, 441, 817, 276],
 [306, 485, 1282, 1110, 1558],
 [1248, 1243, 1437, 773, 1332],
 [1160, 952, 236, 1552, 445],
 [1247, 135, 554, 807, 638],
 [589, 857, 766, 2068, 1871],
 [434, 1079, 1139, 1865, 948],
 [83, 1683, 505, 1796, 1350],
 [2061, 1267, 1, 940, 740],
 [1414, 1243, 2498, 1412, 1405],
 [1957, 1401, 637, 578, 1248],
 [1484, 490, 1515, 1900, 685],
 [224, 1611, 1880, 2252, 318],
 [824, 1839, 1474, 1480, 1064],
 [293, 1704, 471, 752, 1028],
 [200, 964, 632, 2349, 1696],
 [785, 1388, 787, 2315, 1837],
 [112, 1437, 299, 581, 1972],
 [1689, 856, 1524, 1416, 1073],
 [1616, 758, 1939, 1849, 649],
 [301, 1566, 1194, 806, 2067],
 [1519, 533, 847, 1311, 560],
 [1150, 1222, 1215, 230, 1479],
 [705, 1455, 1697, 2367, 914],
 [1454, 1687, 993, 529, 606],
 [580, 1100, 1877, 478, 2258],
 [743, 2246, 741, 1308, 175],
 [1498, 1495, 205, 1117, 566],
 [2259, 1203, 1994, 1490, 965],
 [1077, 685, 1885, 1108, 684],
 [1658, 18, 1645, 1505, 677],
 [1299, 667, 1567, 638, 2324],
 [1442, 202, 1095, 1320, 1326],
 [876, 993, 1800, 136, 478],
 [857, 1768, 1171, 1995, 2332],
 [1320, 2028, 1303, 1475, 1258],
 [1497, 1498, 681, 521, 1099],
 [1512, 953, 1508, 1086, 205],
 [1894, 1942, 1889, 1891, 854],
 [534, 68, 825, 838, 837],
 [1485, 1333, 1950, 942, 666],
 [1485, 905, 516, 1885, 2023],
 [2201, 21, 1517, 1242, 1136],
 [2329, 2109, 1490, 1018, 1625],
 [1635, 1, 1649, 1650, 1651],
 [1303, 1501, 1849, 1302, 952],
 [2253, 143, 1619, 945, 2268],
 [224, 769, 1234, 2318, 2319],
 [785, 131, 786, 801, 1323],
 [1245, 325, 779, 1304, 2224],
 [2334, 1534, 2101, 1569, 1227],
 [832, 286, 508, 2207, 2301],
 [132, 438, 133, 1693, 542],
 [929, 2249, 187, 2205, 858],
 [423, 14, 1174, 719, 1173],
 [2230, 2328, 1431, 65, 1308],
 [1561, 1563, 1567, 1050, 1568],
 [283, 1414, 1151, 533, 1083],
 [616, 1230, 1177, 615, 1241],
 [425, 669, 1480, 812, 606],
 [1365, 1904, 358, 1276, 623],
 [188, 1952, 36, 519, 1198],
 [1645, 490, 1228, 1957, 1398],
 [1889, 182, 1513, 1242, 1909],
 [1675, 1401, 1000, 1540, 913],
 [379, 1838, 1374, 853, 1752],
 [1837, 1167, 1276, 1469, 1098],
 [1284, 1272, 1540, 774, 1167],
 [2278, 136, 1133, 141, 1130],
 [773, 386, 1236, 2100, 1951],
 [1682, 986, 913, 2349, 1198],
 [131, 2279, 1558, 1390, 1503],
 [765, 1337, 237, 1284, 545],
 [382, 179, 2249, 110, 385],
 [1725, 714, 1723, 1713, 2145],
 [2100, 2068, 1957, 2113, 1377],
 [547, 1815, 1504, 909, 728],
 [548, 22, 418, 28, 9],
 [1418, 937, 2170, 1506, 462],
 [886, 266, 1442, 1401, 396],
 [1568, 2354, 1302, 394, 1567],
 [1127, 886, 831, 1909, 2289],
 [1010, 903, 1371, 1370, 2270],
 [2316, 1916, 2317, 748, 282],
 [1301, 1497, 1614, 613, 756],
 [1230, 2204, 966, 1276, 2101],
 [1940, 1998, 1060, 1453, 954],
 [1091, 681, 817, 741, 2122],
 [382, 109, 207, 754, 1325],
 [1385, 849, 1494, 2311, 1511],
 [667, 1522, 568, 1366, 1831],
 [1718, 1101, 883, 2251, 302],
 [968, 1203, 389, 1082, 179],
 [1485, 947, 1384, 544, 806],
 [1474, 1101, 1302, 1384, 1454],
 [1756, 663, 1566, 874, 1309],
 [524, 1164, 1480, 1307, 1158],
 [638, 1944, 150, 773, 393],
 [611, 1644, 1305, 1336, 1518],
 [175, 1325, 743, 1504, 741],
 [677, 1166, 2185, 1397, 1499],
 [65, 682, 355, 354, 600],
 [853, 1364, 972, 1753, 1927],
 [1195, 56, 2158, 1008, 1376],
 [863, 1558, 1840, 701, 1594],
 [2337, 1081, 2113, 578, 1123],
 [143, 1630, 1582, 1320, 1263],
 [1550, 663, 521, 444, 1886],
 [2326, 1144, 1042, 2294, 2240],
 [766, 1450, 1999, 1336, 1939],
 [1480, 2293, 2470, 351, 2428],
 [1247, 953, 1473, 319, 928],
 [658, 132, 1518, 1332, 402],
 [1247, 1491, 785, 1490, 67],
 [597, 1639, 7, 1462, 1642],
 [1060, 342, 518, 2158, 705],
 [2030, 197, 1271, 196, 199],
 [2197, 1685, 1290, 1795, 1397],
 [973, 1169, 1172, 1184, 1756],
 [2342, 667, 2343, 1350, 270],
 [1245, 861, 1077, 1495, 1573],
 [649, 824, 650, 1548, 1097],
 [2228, 27, 76, 22, 26],
 [1640, 1639, 1120, 485, 445],
 [1872, 1238, 478, 544, 1286],
 [238, 724, 1638, 1132, 744],
 [1558, 426, 657, 606, 659],
 [383, 381, 385, 1469, 1436],
 [1810, 1122, 1616, 1205, 961],
 [2200, 1132, 786, 1390, 2201],
 [638, 809, 1680, 227, 1992],
 [667, 232, 2097, 549, 301],
 [2253, 228, 1851, 1059, 2247],
 [1215, 1427, 1683, 1233, 1112],
 [1891, 1032, 1893, 354, 1250],
 [1136, 2321, 2097, 784, 861],
 [1000, 1357, 741, 317, 2114],
 [609, 1689, 422, 1857, 421],
 [1436, 1768, 850, 851, 1523],
 [822, 160, 238, 1616, 785],
 [1090, 2368, 1688, 1088, 289],

In [25]:
id = []
rec_list = []
for i in list(test['CustomerID'].astype(int).unique()):
    rekomendasi = model.recommend(i, user_items, N = 5, filter_already_liked_items = True)
    
    temp_list = []
    for j in rekomendasi:
        temp_list.append(j[0])
        
    id.append(i)
    rec_list.append(temp_list)
    
predicted_test = pd.DataFrame()
predicted_test['CustID'] = id
predicted_test['Predicted_test'] = rec_list

predicted_test['Predicted_test'] = predicted_test['Predicted_test'].apply(lambda x: ("""{}""".format(x))) 
predic_test = [ast.literal_eval(a) for a in list(predicted_test['Predicted_test'])]

predicted_test.head()

   CustID                  Predicted_test
0   18283    [784, 1683, 312, 1677, 1311]
1   14298   [2330, 1904, 1573, 1247, 748]
2   14527  [1414, 1243, 2498, 1412, 1405]
3   16931     [627, 426, 1227, 1283, 521]
4   17211     [76, 1710, 1491, 250, 2331]

In [26]:
test_id = []
test_stock = []

for i in test['CustomerID'].unique():
    test_id.append(i.astype(int))
    test_stock.append(list(test[test['CustomerID'] == i]['StockID'].unique()))
    
actual_test = pd.DataFrame()
actual_test['CustomerID'] = test_id
actual_test['Actual_test'] = test_stock
actual_test.head()

   CustomerID                                        Actual_test
0       18283  [741, 1446, 1137, 1574, 787, 1136, 2279, 1122,...
1       14298  [1675, 2363, 589, 301, 1428, 2069, 1128, 1602,...
2       14527  [1404, 1338, 1109, 1555, 1415, 2180, 787, 1557...
3       16931  [1074, 1298, 1460, 1324, 644, 1472, 1309, 141,...
4       17211  [1832, 1556, 1522, 1471, 1627, 1462, 1181, 145...

**Recall**

In [27]:
rec.mark(actual_train['Actual_train'], predic_train, k = 5)

0.0

In [28]:
rec.mark(actual_test['Actual_test'], predic_test, k = 5)

0.03843518702467566

**Precision**

Terjadi kenaikan skor pada data test yang cukup signifikan. Namun, angka tersebut dapat dibilang tergolong rendah dan jika melihat rumusnya, hal tersebut bisa saja dipengaruhi oleh orang yang aktualnya membeli produk jauh lebih banyak dari total rekomendasi yang disediakan oleh model yang dibuat sehingga pembagiannya jadi tidak sama rata. Oleh karena itu, penggunaan Precision bisa membantu acuan akurasi dari model lebih lanjut.

In [29]:
ml_metrics.mapk(actual_train['Actual_train'], predic_train, k = 5)

0.0

In [30]:
ml_metrics.mapk(actual_test['Actual_test'], predic_test, k = 5)

0.044163825757575756

Nilai recall dan precision saat train = 0, itu terjadi karena memang tidak ada satupun prediksi yang tepat. Namun, terjadi kenaikan 6% dan 8% saat recall dan precision test. Nilai recall bisa lebih kecil dibandingkan precision karena perbandingan recall antara prediksi benar dengan total aktual yang jumlahnya lebih banyak dari total prediksi, sedangkan precision perbandingannya antara prediksi benar dengan total prediksi. Dapat disimpulkan bahwa prediksi rekomendasi benar lebih banyak di 0. Padahal jika dilihat dari EDA yang telah dibuat, consumer yang melakukan pembelian lebih dari 5 produk melebihi orang yang hanya membeli 1-5 produk. Ada kemungkinan orang yang membeli > 5 produk hanya melakukan sekali transaksi di setiap produk yang mengakibatkan nilai korelasi didalam model menjadi kurang maksimal.

In [31]:
x = 0
tepat = []
for i in range(len(predic_train)):
    for j in range(len(predic_train[i])):
        if predic_train[i][j] in actual_train['Actual_train'][i]:
            x += 1
            
    tepat.append(x)
    x = 0
train_tepat = pd.DataFrame(tepat)

train_tepat[0].value_counts()

0    1025
Name: 0, dtype: int64

In [32]:
x = 0
tepat = []
for i in range(len(predic_test)):
    for j in range(len(predic_test[i])):
        if predic_test[i][j] in actual_test['Actual_test'][i]:
            x += 1
            
    tepat.append(x)
    x = 0
test_tepat = pd.DataFrame(tepat)

test_tepat[0].value_counts()

0    714
1    142
2     22
3      2
Name: 0, dtype: int64

### Train Test 90:10

In [33]:
train2, test2 = train_test_split(new_stockid, test_size = 0.1, random_state = 1)

In [34]:
user_items2 = sparse.csr_matrix((train2['Stock_count'].astype(float), (train2['CustomerID'].astype(int), train2['StockID'].astype(int))))
item_users2 = sparse.csr_matrix((train2['Stock_count'].astype(float), (train2['StockID'], train2['CustomerID'].astype(int))))

In [35]:
model2 = implicit.als.AlternatingLeastSquares(factors = 500, iterations = 30)
model2.fit(item_users2)

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

In [36]:
custID = 14911
rekomendasi2 = model2.recommend(custID, user_items2, N = 5, filter_already_liked_items = True)

In [37]:
df_rec2 = pd.DataFrame(columns = ['CustomerID', 'Recommendation'])
df_rec2

cust = []
rec = []

for i in range(len(rekomendasi)):
    cust.append(rekomendasi[i][0])
    rec.append(rekomendasi[i][1])
    
df_rec2['CustomerID'], df_rec2['Recommendation'] = cust, rec

df_rec2

   CustomerID  Recommendation
0         838             0.0
1         835             0.0
2         832             0.0
3         833             0.0
4        2501             0.0

In [38]:
# ----- Predicted Train -----

id = []
rec_list = []
for i in list(train2['CustomerID'].astype(int).unique()):
    rekomendasi = model2.recommend(i, user_items2, N = 5, filter_already_liked_items = True)
    
    temp_list = []
    for j in rekomendasi:
        temp_list.append(j[0])
        
    id.append(i)
    rec_list.append(temp_list)
    
predicted_train2 = pd.DataFrame()
predicted_train2['CustID'] = id
predicted_train2['Predicted_train'] = rec_list

predicted_train2['Predicted_train'] = predicted_train2['Predicted_train'].apply(lambda x: ("""{}""".format(x))) 
predic_train2 = [ast.literal_eval(a) for a in list(predicted_train2['Predicted_train'])]

# ----- Actual Train -----

train_id = []
train_stock = []

for i in train2['CustomerID'].unique():
    train_id.append(i.astype(int))
    train_stock.append(list(train2[train2['CustomerID'] == i]['StockID'].unique()))
    
actual_train2 = pd.DataFrame()
actual_train2['CustomerID'] = train_id
actual_train2['Actual_train'] = train_stock
actual_train2.head()

   CustomerID                                       Actual_train
0       17059  [2201, 905, 903, 583, 424, 669, 2277, 1457, 22...
1       12480  [374, 562, 1108, 1625, 135, 1381, 791, 1684, 1...
2       15867  [1362, 1193, 1473, 903, 1195, 1298, 905, 1447,...
3       15601  [1942, 285, 1837, 2291, 615, 1490, 438, 1832, ...
4       12415  [1350, 874, 1651, 1650, 383, 111, 1576, 382, 1...

In [39]:
# ----- Train Test -----

id = []
rec_list = []
for i in list(test2['CustomerID'].astype(int).unique()):
    rekomendasi = model2.recommend(i, user_items2, N = 5, filter_already_liked_items = True)
    
    temp_list = []
    for j in rekomendasi:
        temp_list.append(j[0])
        
    id.append(i)
    rec_list.append(temp_list)
    
predicted_test2 = pd.DataFrame()
predicted_test2['CustID'] = id
predicted_test2['Predicted_test'] = rec_list

predicted_test2['Predicted_test'] = predicted_test2['Predicted_test'].apply(lambda x: ("""{}""".format(x))) 
predic_test2 = [ast.literal_eval(a) for a in list(predicted_test2['Predicted_test'])]

# ----- Actual Test -----

test_id = []
test_stock = []

for i in test2['CustomerID'].unique():
    test_id.append(i.astype(int))
    test_stock.append(list(test[test['CustomerID'] == i]['StockID'].unique()))
    
actual_test2 = pd.DataFrame()
actual_test2['CustomerID'] = test_id
actual_test2['Actual_test'] = test_stock
actual_test2.head()

   CustomerID                                        Actual_test
0       18283  [741, 1446, 1137, 1574, 787, 1136, 2279, 1122,...
1       14298  [1675, 2363, 589, 301, 1428, 2069, 1128, 1602,...
2       14527  [1404, 1338, 1109, 1555, 1415, 2180, 787, 1557...
3       16931  [1074, 1298, 1460, 1324, 644, 1472, 1309, 141,...
4       17211  [1832, 1556, 1522, 1471, 1627, 1462, 1181, 145...

**Recall 2**

In [40]:
import recmetrics as rec

In [41]:
rec.mark(actual_train2['Actual_train'], predic_train2, k = 5)

0.0

In [42]:
rec.mark(actual_test2['Actual_test'], predic_test2, k = 5)

0.027499334636385025

**Precision 2**

In [43]:
ml_metrics.mapk(actual_train2['Actual_train'], predic_train2, k = 5)

0.0

In [44]:
ml_metrics.mapk(actual_test2['Actual_test'], predic_test2, k = 5)

0.031344343039258295

In [45]:
x = 0
tepat = []
for i in range(len(predic_train2)):
    for j in range(len(predic_train2[i])):
        if predic_train2[i][j] in actual_train2['Actual_train'][i]:
            x += 1
            
    tepat.append(x)
    x = 0
train_tepat2 = pd.DataFrame(tepat)

train_tepat2[0].value_counts()

0    1032
Name: 0, dtype: int64

In [46]:
x = 0
tepat = []
for i in range(len(predic_test2)):
    for j in range(len(predic_test2[i])):
        if predic_test2[i][j] in actual_test2['Actual_test'][i]:
            x += 1
            
    tepat.append(x)
    x = 0
test_tepat2 = pd.DataFrame(tepat)

test_tepat2[0].value_counts()

0    652
1    102
2     13
Name: 0, dtype: int64

Hasilnya adalah lebih baik saat menggunakan train test 80:20, meskipun perbedaan pada recall dan precision hanya sedikit. Pada model kedua tidak ada yang benar memprediksi lebih dari 2 rekomendasi pada 1 customer. Untuk train recall dan precision tetap mendapat nilai 0.

Untuk Tuning saya belum mendapatkan cara untuk diterapkan pada ALS karena inputannya berupa sparse matrix bukan berupa list angka.